/*General*/
body {
    width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url(./images/phone_globe.jpg) no-repeat 50% center;
}

img {
    border: 1px solid #ddd;
    /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    padding: 5px;
    /* Some padding */
    width: 150px;
    /* Set a small width */
}

/* Add a hover effect (blue shadow) */

img:hover {
    box-shadow: 0 0 5px 1px black;
}

.rotate img {
    animation: rotation .3s infinite linear;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

img {
    height: 200px;
    width: 200px;
}